body{
    display: grid;
    grid-template-columns: 1fr 510px 510px 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    ". header header ."
    ". main main .";
    grid-gap: 40px;
    text-align: center;
    height: 300px;

}

header{
    grid-area: header;
    justify-content: center;
    align-items: center;
    background-color:  CornflowerBlue;
    font-family: cursive;
    color: Cornsilk;
    padding-top: 50px;
    padding-left: 200px;
    padding-right: 200px;
}

#photo{
    float: left;
}

main{
    grid-area: main;
    align-items: center;
    justify-content: center;
    color: #000000;
    padding: 15px;
    margin: auto;
    border-radius: 4px;
    width: 85%;
    height: auto;
    align-content: center;
    border-bottom: 1px solid #e9e8ed;
}

#country{
    width: 80%;
    height: 30px;
}

#lookup{
    height: 30px;
}

label{
    font-family: cursive;
}